{{#unless release}}
{{live_update}}
{{web_component "https://github.com/anspar/arag_common_libs/releases/download/v0.1/build.html"}}
<span class="ar-theme-switch m-5"></span>
{{web_component "https://github.com/anspar/wallet/releases/download/v0.18/build.html"}}

<script>
    document.addEventListener("DOMContentLoaded", async function () {
        await WALLET.setup()
        await HOSQ_PROVIDER.setup()
    })
</script>
{{/unless}}

{{import_css "static/css/index.css"}}
<div id="hosq-provider-div" class="ar-shadow">
    <input type="number" value="" step="1" min="1">
    <span>Not Selected</span>
    <button class="ar-btn-primary">Select</button>
</div>

<script>
    const HOSQ_ABI = {{ import_json "static/HOSQ_ABI.json"}};
</script>
{{import_js "static/js/index.js"}}